<div class="products justify dib-box">
  {% for category in site.categories %}{% if category[0] == 'products' %}
  {% for product in category[1] %}
  <div class="product dib">
    <h3><a href="{{ product.homepage || product.url }}">{{ product.title }}</a></h3>
    <div class="links">
      <a href="{{ product.homepage || product.url }}">
        <i class="iconfont">&#336;</i> 主页
      </a>
      {% if product.github %}
      <a href="https://github.com/{{ product.github }}">
        <i class="iconfont">&#61464;</i> 代码
      </a>
      {% endif %}
    </div>
    <div class="authors">
      {% for author in product.authors %}
      <a href="{{ author.homepage }}">
        <i class="iconfont">{% if author.female %}&#261;{% else %}&#260;{% endif %}</i>
        {{ author.name }}
      </a>
      {% endfor %}
    </div>
    <div class="summary">
      {{ product.excerpt | markdownify }}
    </div>
  </div>
  {% endfor %}
  {% endif %}{% endfor %}
</div>