<div class="projects justify dib-box">
  {% for category in site.categories %}{% if category[0] == include.category %}
  {% for project in category[1] %}
  <div class="project dib">
    <div class="clearfix">
      <h3>
        <a href="{{ project.homepage || project.url }}" class="title">{{ project.title }}</a>
      </h3>
      <span class="links">
        <a href="{{ project.homepage || project.url }}"><i class="iconfont">&#336;</i></a>
        {% if project.github %}
        <a href="https://github.com/{{ project.github }}"><i class="iconfont">&#61464;</i></a>
        {% endif %}
      </span>
    </div>
    <div class="authors">
      {% for author in project.authors %}
      <a href="{{ author.homepage }}">{{ author.name }}</a>
      {% endfor %}
    </div>
    <div class="summary">
      {{ project.excerpt | markdownify }}
    </div>
  </div>
  {% endfor %}
  {% endif %}{% endfor %}
</div>
