/*
 * Projects module
 */
.projects .project {
  width: 260px;
  padding: 10px;
  font-size: 14px;
}
.project a:hover {
  border-bottom: none;
}
.project .title {
  float: left;
}
.project .links {
  float: right;
}