/*
 * Projects module
 */

.projects .project {
    font-size: 14px;
    vertical-align: top;
    overflow: hidden;
    *zoom: 1;
    border-top: 1px dashed #ddd;
    border-bottom: 1px dashed #ddd;
    margin-top: -1px;
}

.projects .project-table {
    width: 100%;
}

.projects .project-table tr td {
    background: none;
    border: 0 none;
}

.projects .project-table .banner {
    width: 120px;
    text-align: center;
    border-right: 1px dashed #ddd;
    background: none;
}
.projects .banner a {
    color: #bebebe;
    display: block;
    font-size: 60px;
}

.projects .banner:hover {
    background-color: #ed4242;
}

.projects .banner:hover a {
    color: #fff;
}

.projects .project-table .bd {
    background: none;
}


.project a:hover {
    border-bottom: none;
}

.project .title {
    float: left;
}

.project .links {
    float: right;
    margin-top: 15px;
}


/*
 * Applications module
 */

.supporting-biz h3 {
    padding-left: 10px;
}

.supporting-biz a:hover {
    border-bottom: none;
}

.supporting-biz .biz .shadow {
    margin: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    padding: 10px;
}
.supporting-biz .biz .qr-code {
    width: 50%;
}


@media (min-width: 560px) {
    .supporting-biz .biz {
        width: 46%;
    }
}
