<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width" />
  <title>{% if page.title %}{{ page.title }} - {% endif %}THX</title>
  {% include styles.html %}
  <link rel="stylesheet" type="text/css" href="/assets/gateway.css">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="http://thx.alibaba-inc.com/atom.xml">
</head>
<body bx-app class="skin-index {% if site.baseurl %}skin-{{ site.baseurl | remove_first: '/' }} {% endif %}">
  {{ content }}
  {% include scripts.html %}
</body>
</html>
