---
layout: page
script: assets/post.js
---

<div id="page">
  <div id="content">
    <div id="content-wrap">
      <article>
        <h1>{{ page.title }}</h1>
        <div class="authors">
          {% for author in page.authors %}
          <address>
            <a href="{{ author.homepage }}">{{ author.name }}</a>
          </address>
          {% endfor %}
        </div>
        {{ content }}
      </article>
      <!-- Duoshuo Comment BEGIN -->
      <div class="ds-thread"></div>
      <!-- Duoshuo Comment END -->
    </div>
  </div>
  <div id="aside">
    <a href="javascript:void(0)" class="toggler" id="J_toggler">
      <i class="iconfont">&#271;</i> 导航
    </a>
    <a href="/" class="logo"><i class="iconfont">&#532;</i>THX</a>
    <ul class="categories">
    {% for category in site.categories %}{% if category[0] != 'products' %}
      <li>
        <a href="/{{ category[0] }}" class="entry">
          <i class="iconfont category-{{ category[0] }}"></i>
          {{ category[0] | capitalize }}
        </a>
      </li>
    {% endif %}{% endfor %}
    </ul>
    <ul class="products">
      {% for category in site.categories %}{% if category[0] == 'products' %}
      {% for product in category[1] %}
      <li>
        <a href="{{ product.homepage }}" class="entry">
          <i class="iconfont product-{{ product.title | downcase }}"></i>
          {{ product.title }}
        </a>
      </li>
      {% endfor %}
      {% endif %}{% endfor %}
    </ul>
  </div>
</div>